.form__container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 10vw;
}

.form__wrapper1 {
}

.form__wrapper2 {
}

.btn1 {
  margin-top: 1rem;
}
.btn2 {
  margin-bottom: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .form__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin: 2rem 10vw;
  }
}

.table_wrapper {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-td div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.controls-td div button i {
  font-size: small;
}

.category-table {
  max-height: 2rem;
}

.custom-table {
  width:fit-content;
  max-height: 12rem;
  border-collapse: collapse;
  overflow-y: auto;
  display: block;
}

.custom-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.custom-table th, .custom-table td {
  padding: 0.5rem 1rem;
  border: 0.5px solid #dee2e6;
  text-align: left;
}

.custom-table tr {
  display: table;
  width: 100%;
  table-layout: fixed; 
}

.custom-table tbody tr:nth-child(even) {
  background-color: #ececec;
}

.custom-table tbody tr td:nth-of-type(2) {
  text-align: center;
}

.bootstrap-table {
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

.loading-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: grid;
  place-items: center;
  color: black;
}